@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root{
  --text-gradient-dark: linear-gradient(180deg,#fff,#e7e7e7);
  --dark-background: #111827;
  --dark-background-secondary:#1F2937;
  --dark-background-ternary:#374151;
  --dark-background-border: #a4a6a85a;
  --dark-background-highlight:#283345;
  --dark-background-text-primary: #f0f0f0;
  --dark-background-text-secondary: #c2c3c5;
  --dark-background-highlight-secondary: #3B82F6;
  --dark-background-highlight-ternary: #EEBC1D;
  --light-background: #e9eaeb;
  --light-background-secondary: #F9FAFB;
  --light-background-ternary: #cdcfd4;
  --light-background-text-primary: #1e2a44;
  --light-background-text-secondary: #1f2a42;
  --light-background-highlight: #e7e7e7;
}

* {
  scrollbar-width: thin; /* "auto" or "thin" to show scrollbar */
  scrollbar-color: var(--dark-background-border) transparent; /* thumb color, track color */
  z-index: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-background-border);
  border-radius: 5px;
  width: 1px;
  height: 1px;
}

::-moz-scrollbar {
  width: 5px;
  height: 4px;
}

::-moz-scrollbar-track {
  background: transparent;
}

::-moz-scrollbar-thumb {
  background: var(--dark-background-border);
  border-radius: 5px;
  width: 1px;
  height: 1px;
}

body{
  max-width: 100vw;
  height: calc(100vh - 16px);
  background-color: var(--dark-background);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.skeleton-layout{
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  position: absolute;

}

.skeleton-content-container{
  width: 100%;
  height: 100%;
  /* background-color: #16a34a; */
  display: flex;
  gap: 10px;
}

.skeleton-dark{
  background-color: var(--dark-background-ternary);
}

.skeleton-nav{
  width: 100%;
  min-height: max(25px,5vh);
}

.left-panel-skeleton-container{
  width: 60%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.right-panel-skeleton-container{
  width: 40%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.navbar{
  width:100%;
  height: fit-content;
  min-height: max(25px,5vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--dark-background-secondary); */
  border-radius: 12px;
}

.navbar-logo{
  margin: 0 15px;
}

.app-title{
  font-weight: 800;
  font-size: max(25px,min(2vw,40px));
  line-height: 1;
  letter-spacing: 0.05rem;
}

.app-title-dark{
  color: var(--dark-background-text-primary);
}

.app-title-light{
  color: var(--light-background-text-primary);
}

.mode-switch-btn{
  min-height: 45px;
  min-width: 45px;
  width: fit-content;
  height: fit-content;
  margin: 0 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.mode-switch-btn-dark:hover{
  background-color: var(--dark-background-highlight);
}

.mode-switch-btn-light:hover{
  background-color: var(--light-background-highlight);
}


.mode-switch-icon{
  /* background-color: #dddddd; */
}

.sql-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap:0;
}

.panel-resizer-horizontal{
  width:10px;
  min-height: 82vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  z-index: 0 !important;
  /* background-color: #16a34a; */
}

.panel-resizer-vertical{
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  z-index: 0 !important;
  /* background-color: #16a34a; */
}

.panel-resizer-icon{
  /* background-color: var(--dark-background-secondary); */
}

.sql-container-left-panel{
  min-height: 82vh;
}

.sql-playground{
  background-color: var(--dark-background-secondary);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 10px;
  border: 0.1pt solid var(--dark-background-border);
  overflow: hidden;
}

.sql-playground-dark{
  background-color: var(--dark-background-secondary);
}

.sql-playground-light{
  background-color: var(--light-background-secondary);
}


.sql-editor-fallback-text{
  width: 100%;
  height: calc(100% - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 0.9rem;
}

.sql-editor-fallback-text-dark{
  color: var(--dark-background-text-secondary);
}

.sql-editor-fallback-text-light{
  color: var(--light-background-text-primary);
}

.sql-playground-options-panel{
  width: 100%;
  height: 55px;
  border-bottom: 0.1pt solid var(--dark-background-border);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sql-playground-tabs-panel{
  display: flex;
  gap: 5px;
  height: 100%;
  /* background-color: var(--dark-background-border); */
  align-items: center;
  max-width: calc(100%-80px);
  overflow-x: auto;
}

.sql-playground-add-tab-btn{
  font-size: 1.9rem;
  font-weight: 300;
  color: var(--dark-background-text-primary);
  cursor: pointer;
  padding: 0 1rem;
}

.sql-playground-tabs{
  display: flex;
  height: 100%;
  max-width: 90%;
  overflow-x: auto;
}

.sql-playground-query-tab,.sql-playground-query-tab-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  margin: 0 7px;
  padding-left: 7px;
  padding-right: 2px;
  cursor: pointer;
  border-radius: 1px;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.sql-playground-query-tab:hover{
  border-bottom: 2px solid var(--dark-background-border);
}

.sql-playground-query-tab-selected{
  border-bottom: 2px solid var(--dark-background-highlight-secondary);
}


.sql-playground-query-tab-name-dark,.sql-playground-query-tab-name-light,.sql-playground-query-tab-name-selected{
  font-size: 0.85rem;
  text-wrap: nowrap;
  font-weight: 600;
}

.sql-playground-query-tab-name-dark{
  color: var(--dark-background-text-primary);
}

.sql-playground-query-tab-name-light{
  color: var(--light-background-text-secondary);
}

.sql-playground-query-tab-name-selected{
  color: var(--dark-background-highlight-secondary);
}

.sql-playground-query-tab-close{
  padding: 1px 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sql-playground-query-tab-close-icon{
  fill: var(--dark-background-text-secondary) !important;
}

.sql-playground-query-tab-close-icon-selected{
  fill: var(--dark-background-highlight-ternary) !important;
}

.query-result-panel{
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 10px;
  border: 0.1pt solid var(--dark-background-border);
  overflow: hidden;
}

.query-result-panel-dark{
  background-color: var(--dark-background-secondary);
}


.query-result-panel-light{
  background-color: var(--light-background-secondary);
}

.query-result-panel-loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.query-result-panel-fallback-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.query-result-panel-fallback-text-dark{
  color: var(--dark-background-text-secondary);
}

.query-result-panel-fallback-text-light{
  color: var(--light-background-text-primary);
}

.sql-playground-buttons-panel{
  display: flex;
  gap: 15px;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.sql-playground-execute-btn, .sql-playground-clear-btn{
  width: 6rem;
  height: 75%;
  border-radius: 25px;
  font-size: 0.8rem;
  /* background-color: aqua; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--dark-background-text-primary);
  cursor: pointer;
}

.sql-playground-execute-btn{
  background-color: #16a34a;
}

.sql-playground-clear-btn{
  background-color: #2563eb;
}

.sql-playground-btn-disabled{
  opacity: 0.8;
  cursor: not-allowed;
}

.query-result-panel{
  display: flex;
}

.query-results-table-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.query-results-table-footer-dark{
  background-color: var(--dark-background-ternary);
}

.query-results-table-footer-light{
  background-color: var(--light-background-ternary);
}

.query-results-table-head-cells,.query-results-table-pagination{
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.query-results-table-pagination-dark{
  color: var(--dark-background-text-secondary) !important;
}

.query-results-table-head-cells-dark{
  color:var(--dark-background-text-primary) !important;
  background-color: var(--dark-background-ternary) !important;
}

.query-results-table-head-cells-light{
  color:var(--light-background-text-primary) !important;
  background-color: var(--light-background-ternary) !important;
}

.query-results-table-pagination{
  background-color: transparent;
}

.query-results-table-data-cells{
  border: 0.009pt solid var(--dark-background-border);
}

.query-results-table-data-cells-dark{
  background-color: var(--dark-background-highlight);
  color: var(--dark-background-text-secondary);
}

.query-results-table-data-cells-light{
  background-color: var(--light-background-highlight);
  color: var(--light-background-text-primary);
}

.query-results-table-data-row{
  opacity: 0.8;
}

.query-results-table-data-row:hover{
  opacity: 1;
}

.sql-container-right-panel{
  /* background-color: #2563eb; */
}

.recent-queries-container,.available-queries-container,.query-analytics-container{
  border: 0.1pt solid var(--dark-background-border);
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recent-queries-container-dark,.available-queries-container-dark,.query-analytics-container-dark{
  background-color: var(--dark-background-secondary);
}

.recent-queries-container-light,.available-queries-container-light,.query-analytics-container-light{
  background-color: var(--light-background-secondary);
}

.recent-queries-header,.available-queries-header,.query-analytics-header{
  /* background-color: #16a34a; */
  width: 100%;
  height: fit-content;
  font-weight: 700;
  font-size: 1.2rem;
}

.recent-queries-header-dark,.available-queries-header-dark,.query-analytics-header-dark{
  color: var(--dark-background-text-primary);
}

.recent-queries-header-light,.available-queries-header-light,.query-analytics-header-light{
  color: var(--dark-background);
}

.recent-queries-list,.available-queries-list,.query-analytics-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  padding: 5px 8px;
}

.recent-query,.available-query,.query-analytic{
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.recent-query-tab,.available-query-tab{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recent-query-divider-dark,.available-query-divider-dark{
  background-color: var(--dark-background-ternary);
}

.recent-query-divider-light,.available-query-divider-light{
  background-color: var(--light-background-secondary);
}

.recent-query-id,.available-query-id,.query-analytics-id{
  font-size: 0.85rem;
  font-weight: 600;
}

.recent-query-id-dark,.available-query-id-dark,.query-analytics-id-dark{
  color: var(--dark-background-text-primary)
}

.recent-query-id-light,.available-query-id-light,.query-analytics-id-light{
  color: var(--dark-background);
}

.recent-query-text,.available-query-text,.query-analytics-text{
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.recent-query-text-dark,.available-query-text-dark,.query-analytics-text-dark{
  color: var(--dark-background-text-secondary);
}

.recent-query-text-light,.available-query-text-light,.query-analytics-text-light{
  color: var(--dark-background-highlight)
}

.download-table-options-text{
  font-size: 0.2rem !important;
  font-family: 'Montserrat', sans-serif;
}

.download-table-options-list{
  background-color: var(--dark-background-highlight);
  color: var(--dark-background-text-secondary);
}


/* Media queries */

/* For devices smaller than 768px */

@media screen and (max-width: 768px){
  body{
    min-height: calc(100vh - 16px);;
    height: fit-content;
  }
  .app-title{
    font-weight: 800;
    font-size: max(20px,min(1.5vw,35px));
    line-height: 1;
    letter-spacing: 0.05rem;
  }
  .navbar-logo{
    width: 60px;
    height: 60px;
  }
  .mode-switch-icon{
    width: 15px;
    height: 15px;
  }
  .sql-playground-execute-btn,.sql-playground-clear-btn{
    width: 4.5rem;
    height: 60%;
    border-radius: 25px;
    font-size: 0.7rem;
  }
  .sql-editor-fallback-text{
    font-weight: 400;
    font-size: 0.8rem;
  }
  .sql-playground-code-editor{
    font-size: 0.8rem;
  }
  .sql-playground-query-tab-name,.sql-playground-query-tab-name-selected{
    font-size: 0.75rem;
    text-wrap: nowrap;
    font-weight: 600;
  }
  .sql-playground-query-tab-close-icon{
    width: 15px;
    height: 15px;
  }
}